{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/menulateralblog.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            <h1 class="h1_quem">Pesquisa</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/pesquisa">Pesquisa</a></li>
                {%  if newsblog_category %}
                    <li class="breadcrumb-item active">{{ newsblog_category.name }}</li>
                {% else %}
                    <li class="breadcrumb-item">{% for category in article.categories.all %}<a href="/blog/category/{{ category.slug }}">{{ category.name }} {% endfor %}</a></li>
                    <li class="breadcrumb-item active">{{ article.title }}</li>
                {% endif %}
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="lateral" class="col-md-3 col-sm-4 col-xs-12">
                {% static_placeholder 'menu' %}
            </div>
            <div id="loop_posts" class="pull-right col-md-9 col-sm-8 col-xs-12">
                {% block newsblog_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}