{% extends CMS_TEMPLATE %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/menulateralblog.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            <!--Check the correct breadcrumb to use-->
            {% if newsblog_category %}
                {% if newsblog_category.slug == 'abraco-academico' or newsblog_category.slug == 'videos' %}
                    {% include "breadcrumb_recursos_educacionais.html" %}
                {% else %}
                    {% include "breadcrumb_pesquisa.html" %}
                {% endif %}
            {% elif article %}
                {% for category in article.categories.all %}
                    {% if category.slug == 'abraco-academico' or category.slug == 'videos' %}
                        {% include "breadcrumb_recursos_educacionais.html" %}
                    {% else %}
                        {% include "breadcrumb_pesquisa.html" %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% static_placeholder 'menu' %}
            <div id="loop_posts" class="pull-right col-md-9 col-sm-8 col-xs-12 aConteudopost">
                {% block newsblog_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}