### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Translations
*.pot

# Django stuff:
*.log

# Project’s settings.py
website/settings_local.py

# Database
project.db

# Other folders
.idea/*
venv/
media

docs/build*
docs/source/_static/
docs/source/_templates/