{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}
    {% trans "Educational resources" %}
{% endblock %}

{% block title %}
    <h1 class="h1_aRecursosEducacionais">{% trans "Educational resources" %}</h1>
{% endblock %}

{% block main %}
    <div class="container  aPesquisa">
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|safe }}
        {% endeditable %}
    </div>
    <br>

    <div class="row aRec">
        <div class="container">
            <a href="/content/category/abraco-academico/">
                <div class="col-md-3">
                    <div  class="aOpcoesRec">
                        <img src="/static/img/search.svg" alt="">
                        <h3>{% trans "Abraço and the Academy" %}</h3>
                        <p>{% trans "List of ABRAÇO team academic works" %}</p>
                    </div>
                </div>
            </a>
            <!-- Incluir tag a quando houver conteúdo -->
                <div class="col-md-3">
                    <div class="aOpcoesRec">
                        <img src="/static/img/notebook.svg" alt="">
                        <h3>{% trans "Handouts" %}</h3>
                        <p>{% trans "Handouts about the brachial plexus injury" %}</p>
                        <span>{% trans "Available soon" %}</span>
                    </div>
                </div>
            <!-- fechar tag a -->
            <!-- Incluir tag a quando houver conteúdo -->
                <div class="col-md-3">
                    <div class="aOpcoesRec">
                        <img src="/static/img/viral-marketing.svg" alt="">
                        <h3>{% trans "Events" %}</h3>
                        <p>{% trans "Educational lectures by ABRAÇO team" %}</p>
                        <span>{% trans "Available soon" %}</span>
                    </div>
                </div>
            <a href="/content/category/videos/">
                <div class="col-md-3">
                    <div class="aOpcoesRec">
                        <img src="/static/img/video-player.svg" alt="">
                        <h3>{% trans "Videos" %}</h3>
                        <p>{% trans "Videos about brachial plexus injury and ABRAÇO" %}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
