{% extends 'base.html' %}
{% load i18n mezzanine_tags staticfiles %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/cep.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}

{% block meta_title %}
    {% trans "Join us" %}
{% endblock %}

{% block title %}
    <h1 class="h1_aPadrao">{{ page.title }}</h1>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-md-12">
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|safe }}
        {% endeditable %}
    </div>
    </div>
    <form role="form" method="post" data-toggle="validator">{% csrf_token %}
        <div class="container aFormulario">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">{% trans "Full name" %} <b style="color: red;">*</b></label>
                    {{ person_form.full_name }}
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="control-label">{% trans "Email" %} <b style="color: red;">*</b></label>
                    {{ person_form.email }}
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="select_role" class="control-label">{% trans "Role" %} <b style="color: red;">*</b></label>
                    {{ person_form.select_role }}
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-md-6">
                    <label for="birth" class="control-label">{% trans "Date of birth" %}</label>
                    {{ person_form.birth }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="schooling" class="control-label">{% trans "Schooling" %}</label>
                    {{ person_form.schooling }}
                </div>
                <div class="col-md-6">
                    <label for="zipcode" class="control-label">{% trans "Zipcode" %}</label>
                    {{ person_form.zipcode }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="schooling" class="control-label">{% trans "Street" %}</label>
                    {{ person_form.street }}
                </div>
                <div class="col-md-6">
                    <label for="street" class="control-label">{% trans "District" %}</label>
                    {{ person_form.district }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="city" class="control-label">{% trans "City" %}</label>
                    {{ person_form.city }}
                </div>
                <div class="col-md-6">
                    <label for="state" class="control-label">{% trans "State" %}</label>
                    {{ person_form.state }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="note" class="control-label">{% trans "How did you hear about the project?" %}</label>
                    {{ person_form.note }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar">
                        <div class="btn-group pull-right">
                            <button type="submit" name="action" value="send" class="btn btn-primary">{% trans "Send" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}