/*Definicoes gerais*/
*{
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, p{
  font-family: 'Open Sans', sans-serif;
  color: #525758;
}
h1{
  font-size: 30px;
  text-transform: uppercase;
}
h2{
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
}
h3{
  font-size: 15px;
  text-transform: uppercase;
}
p{
  font-size: 15px;
}
a{
  color: #137B7B; 
}
a:link{
  text-decoration: none;
}
a:hover h2, a:hover h3{
  font-weight: 600;
}
hr {
    margin-top: 0;
    margin-bottom:0;
}
.glyphicon {
    color: #125F65;
}

/*Texto de introducao*/
.aIntroduction {
    background-image: url(../img/bg_verde.png);
    background-repeat: repeat-x;
    background-size: 228px;
    padding: 40px 40px 10px 40px;
    margin-bottom: 10px;
}
.aIntroduction p{
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 20px;
}

/*Links Acoes*/
#aBotaoLesao{
  background-color: #F8F8F8;
  border-bottom: 10px solid #137B7B;
  border-radius: 2px;
  box-shadow: 1px -1px 2px #979a97;
  -webkit-box-shadow: 1px -1px 2px #979a97;
  -moz-box-shadow: 1px -1px 2px #979a97;
  padding: 10px;
}
#aBotaoPesquisa{
  background-color: #F8F8F8;
  border-bottom: 10px solid #3758C1;
  border-radius: 2px;
  box-shadow: 1px -1px 2px #979a97;
  -webkit-box-shadow: 1px -1px 2px #979a97;
  -moz-box-shadow: 1px -1px 2px #979a97;
  padding: 10px;
}
#aBotaoRecEduc{
  background-color: #F8F8F8;
  border-bottom: 10px solid #BE6837;
  border-radius: 2px;
  box-shadow: 1px -1px 2px #979a97;
  -webkit-box-shadow: 1px -1px 2px #979a97;
  -moz-box-shadow: 1px -1px 2px #979a97;
  padding: 10px;
}

/*Ilustracao do braco*/
.aIlustracao img{
  width: 100%;
  padding: 0 10px;
}

/*Area de novidades*/
.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}
.carousel-control {
  opacity: 0.2;
}
.carousel-control:focus, .carousel-control:hover {
  opacity: 0.5;
}
.carousel-control.right {
    background-image: linear-gradient(to right,rgba(18,95,101,.0001) 0,rgba(18,95,101,.1) 100%);
}
.carousel-control.left {
    background-image: linear-gradient(to right,rgba(18,95,101,.1) 0,rgba(18,95,101,.0001) 100%);
}
.aNovidades{
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.aNovidades h2{
  padding: 0;
  text-align: center;
}
.aNovidade{
  background-color: #FFFFFF;
  border-top: 1px solid #75b2b7;
  border-bottom: 10px solid #125F65;
  border-radius: 2px;
  padding: 10px;
  margin-top: 5px;
}
.aNovidadeTexto {
   margin-top: 10px;
}
.aNovidadeTexto p{
  text-align: left;
  padding: 7px;
  font-weight: 300;
}

/*Header e Nav*/
.navbar-default .navbar-nav>li>a {
    color: #525758;
}
.navbar {
  min-height: 100px;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-top: 31px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #115C61;
    border-radius: 2px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #115c61;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.aLogo{
  width: 75%;
}
@media (min-width: 768px)
bootstrap.css:4221
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-top: 10px;
}

/*Footer*/
.aRodape{
  background-color: #115960;
  padding-top: 10px;
}
.aRodape h3, .aRodape ul, .aRodape a{
  color: #FFFFFF;
}
.aRodape p{
  color: #FFFFFF;
  font-weight: 300;
}
.aRodape img{
  vertical-align: bottom;
  padding-top: 10px;
}
.aRodape li{
  list-style-type:none;
  font-weight: 300;
}
.aLicensa p{
  font-size: 12px;
  text-align: right;
}

/*Ajustes dispositivos*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
.container {
    width: 1200px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .aIntroduction {
    background-image: url(../img/bg_verde.png);
    background-repeat: repeat-x;
    background-size: 317px;
    padding: 40px 40px 10px 40px;
    margin-bottom: 0px;
    }
/*Links Acoes*/
#aBotaoPesquisa, #aBotaoLesao, #aBotaoRecEduc{
  margin-top: 5px;
  margin-bottom: 10px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.aIntroduction {
    background-image: url(../img/bg_verde.png);
    background-repeat: repeat-x;
    background-size: 423px;
    padding: 40px 40px 10px 40px;
    margin-bottom: 0px;
    }
.aIlustracao img {
    width: 100%;
    padding: 0 0px;
    } 
.aIlustracaoMob {
    padding-right: 0px;
    padding-left: 0px;
    }  
.aIlustracao img {
    width: 100%;
    padding: 0 0px;
    }
}