{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

<!-- Resumo dos posts -->
{% if not detail_view %}
    <div class="item_post">
        <h2>
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
        </h2>

        <div class="lead">
            {{ article.lead_in|safe|truncatewords:80 }}
        </div>

        <div class="read-more">
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">Leia mais</a>
        </div>
    </div>

<!-- Conteúdo completo de um post -->
{% else %}
    <div class="item_post">
        <h2>
            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a>
        </h2>

        {% if article.featured_image_id %}
            <p class="visual">
                {% if not detail_view %}
                    <a href="{{ article.get_absolute_url }}">
                {% endif %}
                <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}" class="img-responsive">
                {% if not detail_view %}
                    </a>
                {% endif %}
            </p>
        {% endif %}

        <div class="lead">
            {{ article.lead_in|safe }}
        </div>

        <div class="content">
            {% render_placeholder article.content language placeholder_language %}
        </div>

        {% if article.tags %}
            <p class="tags">
                {% for tag in article.tags.all %}
                    <a href="{% namespace_url 'article-list-by-tag' tag=tag.slug namespace=namespace default='' %}">{{ tag.name }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endif %}