{% load i18n %}

{% if category.slug == 'abraco-academico' or category.slug == 'cartilhas' or category.slug == 'videos' %}
    <div id="lateralr" class="col-md-3 col-sm-4 col-xs-12">
        <h2>{% trans "Topics" %}</h2>
        <ul>
            <li {% if category.slug == 'abraco-academico' %} class="active"{% endif %}><a href="/content/category/abraco-academico/">{% trans "Academic ABRAÇO" %}</a></li>
            <li {% if category.slug == 'cartilhas' %} class="active"{% endif %}><a href="/content/category/cartilhas/">{% trans "Cartilhas" %}</a></li>
            <li {% if category.slug == 'videos' %} class="active"{% endif %}><a href="/content/category/videos/">{% trans "Videos" %}</a></li>
        </ul>
    </div>

{% else %}
    <div id="lateralp" class="col-md-3 col-sm-4 col-xs-12">
        <h2>{% trans "Publications" %}</h2>
        <ul>
            <li {% if category.slug == 'artigos' %} class="active"{% endif %}><a href="/content/category/artigos/">{% trans "Articles" %}</a></li>
            <li {% if category.slug == 'capitulos-de-livro' %} class="active"{% endif %}><a href="/content/category/capitulos-de-livro/">{% trans "Book chapters" %}</a></li>
            <li {% if category.slug == 'dissertacoes-de-mestrado' %} class="active"{% endif %}><a href="/content/category/dissertacoes-de-mestrado">{% trans "MSc dissertations" %}</a></li>
            <li {% if category.slug == 'teses-de-doutorado' %} class="active"{% endif %}><a href="/content/category/teses-de-doutorado">{% trans "PhD dissertations" %}</a></li>
            <li class="abraco_academico"><a href="/content/category/abraco-academico">{% trans "Academic ABRAÇO" %}</a></li>
        </ul>

        <h2>{% trans "Research project" %}</h2>
        <ul>
            <li {% if category.slug == 'projetos-de-pesquisa' %} class="active"{% endif %}><a href="/content/category/projetos-de-pesquisa/">{% trans "Projects" %}</a></li>
        </ul>

        <h2>{% trans "Activities" %}</h2>
        <ul>
            <li {% if category.slug == 'atividades' %} class="active"{% endif %}><a href="/content/category/atividades/">{% trans "Activities" %}</a></li>
        </ul>
    </div>
{% endif %}