{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-mg-12">
            <hr>
            <h1 class="h1_aPadrao">{% trans "Error 404" %}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">{% trans "Error 404" %}</li>
            </ol>
        </div>
        <div class="col-lg-12 text-center">
            <br>
            <h2>OPS!</h2>
            <p>
                {% blocktrans %}Sorry, but the page you are looking for was either not found or does not exist.{% endblocktrans %}
            </p>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock %}