{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-mg-12">
            <hr>
            <h1 class="h1_aPadrao">{% trans "Error 404" %}</h1>
        </div>
        <div class="col-lg-12 text-center">
            <br>
            <h2>OPS!</h2>
            <p>
                {% blocktrans %}Sorry, but the page you are looking for was either not found or does not exist. <br/>
                Try refreshing the page or click the button below to go back to the Homepage. {% endblocktrans %}
            </p>
            <br>
            <a href="/" class="btn btn-large btn-primary"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;{% trans "Take me home" %}</a>
            <br>
        </div>
    </div>
</div>
{% endblock %}