<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

        {% ifinstalled mezzanine.blog %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
        {% endifinstalled %}

        <!-- JS -->
        {% compress js %}
            <link type="text/css" rel="stylesheet" href="{% static 'js/jquery/jquery-ui.css' %}">
            <script src="{% static 'js/jquery/external/jquery/jquery.js' %}"></script>
            <script src="{% static 'js/jquery/jquery-ui.js' %}"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}

        <!-- CSS -->
        {% compress css %}
            <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
            <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
            {% endif %}
            {% ifinstalled cartridge.shop %}
                <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
            {% endifinstalled %}
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        <!-- Simple javascript notifications -->
        <link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
        <script src="{% static 'toastr/toastr.js' %}"></script>
        <script src="{% static 'toastr/toastr_messages.js' %}"></script>

        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
        <![endif]-->

        {% block extra_head %}{% endblock %}
    </head>

    <body id="{% block body_id %}body{% endblock %}">
        {% include "cabecalho.html" %}

        <a class='top' href='javascript:topo();'> <span class="glyphicon glyphicon-chevron-up"></span> </a>

        <div class="container">
            {% if messages %}
                {% for message in messages %}

                    {% if message.tags == "success" %}
                        <script>showSuccessMessage('{{ message }}')</script>
                    {% endif %}

                    {% if message.tags == "warning" %}
                        <script>showWarningMessage('{{ message }}')</script>
                    {% endif %}

                    {% if message.tags == "error" %}
                        <script>showErrorMessage('{{ message }}')</script>
                    {% endif %}

                    {% if message.tags == "info" %}
                        <script>showInfoMessage('{{ message }}')</script>
                    {% endif %}

                {% endfor %}
            {% endif %}

            <h1>{% block title %}{% endblock %}</h1>

            {% if not page.home %}
                <ol class="breadcrumb">
                    {% spaceless %}
                        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    {% endspaceless %}
                </ol>
            {% endif %}
        </div>


                {% block main %}{% endblock %}


        {% include "footer.html" %}

        <!--Google analytics-->
        {% block footer_js %}
        {% include "includes/footer_scripts.html" %}
        {% endblock %}

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.js'%}"></script>

        <!--Botao para o usuario voltar para o topo do site-->
        <script src="{% static 'js/botaotopo.js'%}"></script>

        <!--Slider com 3 colunas-->
        <script src="{% static 'js/slider_slick-carousel1.7.1.js'%}"></script>
	    <link rel='stylesheet' href="{% static 'css/slider_slick-carousel.css' %}">
        <script src="{% static 'js/slider.js'%}"></script>

    <!--Lesão-->
        <script src="{% static 'js/lesaoetratamento.js'%}"></script>
    </body>
</html>
