<h1 class="h1_quem">Pesquisa</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pesquisa">Pesquisa</a></li>
    {%  if newsblog_category %}
        <li class="breadcrumb-item active">{{ newsblog_category.name }}</li>
    {% else %}
        <li class="breadcrumb-item">{% for category in article.categories.all %}<a href="/content/category/{{ category.slug }}">{{ category.name }} {% endfor %}</a></li>
        <li class="breadcrumb-item active">{{ article.title }}</li>
    {% endif %}
</ol>