{% load mezzanine_tags staticfiles %}

<!--Barra superior-->
<header>
    <nav class="row aDelimitador">
        <div class="container aNav">
            <!--Espaço do logo lado esquerdo-->
            <div class="col-xs-4 col-sm-2 col-md-2 aEspacocabecalhol">
                <a href="/">
                    <img class="aLogo" alt="Logo da iniciativa" src="{% static 'img/logoabraco.png'%}">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 aEspacocabecalhor">
                <a href="/">
                    <p class ="aAbraco"><span>ABRA</span>ÇO</p>
                    <p class="aDescLogo"><span>A</span>ção NeuroMat para a </br> lesão do plexo <span>bra</span>quial</p>
                </a>
            </div>

            <div class="dropdown aMenu col-xs-2 col-sm-7 col-md-6 aEspacocabecalhor">
                  <button class="btn btn-default dropdown-toggle" type="button" id="aMenuPrinc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
                  <ul class="dropdown-menu aMenuAbraco" aria-labelledby="aMenuPrinc">
                    <li><a href="/">Página Principal</a></li>
                    <li><a href="/quem_somos/">Quem somos</a></li>
                    <li><a href="/lesao-do-plexo-braquial/">Lesão do Plexo Braquial</a></li>
                    <li><a href="/pesquisa/">Pesquisa</a></li>
                    <li><a href="/recursos-educacionais/">Recursos Educacionais</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/faca_parte/">Faça parte</a></li>
                  </ul>

                {% block navbar_search_form %}{% search_form "all" %}{% endblock %}<br>
                {% include "includes/language_selector.html" %}

            </div>

        </div>
    </nav>
</header>
<!-- botao menu -->
{#<script src="{% static 'js/menu.js'%}"></script>#}