{% load mezzanine_tags staticfiles %}

<!--Barra superior-->
<header>
    <nav class="row aDelimitador">
        <div class="container aNav">
            <!--Espaço do logo lado esquerdo-->
            <div class="col-xs-4 col-sm-2 col-md-2 aEspacocabecalhol">
                <a href="/">
                    <img class="aLogo" alt="Logo da iniciativa" src="{% static 'img/logoabraco.png'%}">
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 aEspacocabecalhor">
                <a href="/">
                    <p class ="aAbraco"><span>ABRA</span>ÇO</p>
                    <p class="aDescLogo"><span>A</span>ção NeuroMat para a </br> lesão do plexo <span>bra</span>quial</p>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                {% block navbar_search_form %}{% search_form "all" %}{% endblock %}<br>
                {% include "includes/language_selector.html" %}
            </div>
        </div>
    </nav>
</header>
<!-- botao menu -->
{#<script src="{% static 'js/menu.js'%}"></script>#}