{% extends "base.html" %}
{% load embed_video_tags i18n keyword_tags project_tags staticfiles mezzanine_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% block main %}
    <div class="container aIntroduction ">
        <!--Introdução-->
        <div class="row">
            {% editable page.richtextpage.content %}
                {{ page.richtextpage.content|safe }}
            {% endeditable %}
        </div>
        <!-- Acoes da iniciativa -->
        <div class="row aSection text-center">
            <div>
                <div class="col-md-4">
                    <a href="/lesao-do-plexo-braquial">
                        <div id="aBotaoLesao">
                            <h2>{% trans "Brachial Plexus Injury" %}</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/pesquisa">
                        <div id="aBotaoPesquisa">
                            <h2>{% trans "Research" %}</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/recursos-educacionais">
                        <div id="aBotaoRecEduc">
                            <h2>{% trans "Educational resources" %}</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Ilustração do braço-->
    <div class="row">
        <div class="container aIlustracaoMob">
            <div class="col-md-12 aIlustracao">
                <img src="{% static 'img/ilustraBraco.jpg'%}" alt="Ilustração de uma braço e terminações nervosas">
            </div>
        </div>
    </div>
    <!--Novidades-->
    <div class="row">
        <div class="container aSecaoNovidades">
            <h2>Novidades</h2>
                <div id="slider-novo">
                    <div id="slick-slider">
                    {% blog_news limit=6 as recent_posts %}
                    {% if recent_posts %}
                        {% for post in recent_posts %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                <div class="col-md-12">
                                    <a href="{{ post.get_absolute_url }}">
                                        <div class="aNovidade aNovidadeTexto">
                                            {% for category in post.categories.all %}
                                                <div class="aCategoria">
                                                    <p>{{ category.title }}</p>
                                                </div>
                                            {% endfor %}
                                            <h3>{{ post.title }}</h3>
                                            {% if post.video %}
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    {% video post.video "small" %}
                                                </div>
                                            {% else %}
                                                <p>{{ post.content|safe|truncatewords:40 }}</p>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}