{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}
    <!-- Pesquisa -->
    <div class="row">
        <div class="container">
            <h1 class="h1_quem">Pesquisa</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Pesquisa</li>
            </ol>
            {% placeholder "Conteudo" %}
        </div>
    </div>
    <div class="row aPesq">
        <div class="container">
            <a href="/content/category/artigos/">
                <div class="col-md-4">
                    <div class="aOpcoesPesq">
                    <h3>Publicações</h3>
                    <p>Lista de contribuições acadêmicas da equipe da ABRAÇO</p>
                    </div>
                </div>
            </a>
            <a href="/content/category/projetos-de-pesquisa/">
                <div class="col-md-4">
                    <div class="aOpcoesPesq">
                    <h3>Projetos de pesquisa</h3>
                    <p>Informações sobre grupos de trabalho e objetivos de pesquisa da ABRAÇO</p>
                    </div>
                </div>

            </a>
            <a href="/content/category/atividades/">
                <div class="col-md-4">
                    <div class="aOpcoesPesq">
                    <h3>Atividades</h3>
                    <p>Eventos científicos e treinamentos passados e por vir</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock content %}


