{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/menulateralblog.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Lesão do Plexo Braquial -->
    <div class="row">
        <div class="container">
            <h1 class="h1_aPadrao">{% trans "Brachial Plexus Injury" %}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">{% trans "Treatment" %}</li>
            </ol>
        </div>
    </div>

	<div class="row">
		<div class="container">
            <!--Navegacao lateral-->
			<div id="lateralt" class="col-md-3 col-sm-4 col-xs-12">
				<h2>Sobre</h2>
                <ul>
                    <li {% if current_page.template == "plexo_braquial.html" %}class="active"{% endif %}>
                        <a href="/lesao-do-plexo-braquial">{% trans "What is the Brachial Plexus" %}</a>
                    </li>
                    <li {% if current_page.template == "plexo_braquial_tratamento.html" %}class="active"{% endif %}>
                        <a href="/lesao-do-plexo-braquial-tratamento">{% trans "Treatment" %}</a>
                    </li>
                </ul>
			</div>
			<!--Conteúdo-->
            <div class="pull-right col-md-9 col-sm-8 col-xs-12 aConteudopost">
                <div class="item_PlexoBraq">
                    <p>Muitos fatores podem influenciar a recupera&ccedil;&atilde;o do nervo lesionado. Saber quais foram os nervos afetados e o tipo de les&atilde;o (se o nervo foi arrancado da raiz, se foi cortado ou estirado) pode dar uma ideia de qual caminho seguir na recupera&ccedil;&atilde;o e direcionar o tratamento.</p>

                    <p>As les&otilde;es menos graves, em geral, acontecem quando o nervo &eacute; estirado/puxado ou comprimido, mas n&atilde;o se rompe. Nesses casos, os nervos podem ou n&atilde;o se recuperar sozinhos. A recupera&ccedil;&atilde;o dos nervos &eacute; bastante vari&aacute;vel, e pode levar at&eacute; alguns anos de acordo com a gravidade da les&atilde;o.</p>

                    <p>As les&otilde;es mais graves envolvem o rompimento do nervo, quando h&aacute; perda da continuidade do mesmo, e arrancamento, tamb&eacute;m chamado de avuls&atilde;o, quando o nervo &eacute; arrancado pela sua raiz na medula espinhal. Nesses casos &eacute; poss&iacute;vel o reparo por cirurgia.&nbsp;</p>

                    <p>O tempo decorrido entre a les&atilde;o e a cirurgia &eacute; um fator que influencia muito a recupera&ccedil;&atilde;o dos nervos e consequentemente, dos movimentos.&nbsp; Por isso, &eacute; importante que o diagn&oacute;stico e os exames sejam feitos rapidamente. Ainda assim, existem casos&nbsp; em que os nervos n&atilde;o podem ser reparados.</p>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse1">Cirurgia para reparar os nervos danificados</a></h4>
                            </div>

                            <div class="panel-collapse collapse in" id="collapse1">
                                <div class="panel-body">
                                    <p>Em geral, as cirurgias s&atilde;o realizadas num per&iacute;odo de 6 a 12 meses ap&oacute;s a les&atilde;o. &Eacute; consenso hoje na clinica que quanto antes for realizada a cirurgia, maior a chance de sucesso. A realiza&ccedil;&atilde;o da cirurgia antes dos 6 meses &eacute; recomendada, mas melhor momento &eacute; estabelecido pelo exame cl&iacute;nico e pelos exames neurofisiol&oacute;gicos.</p>

                                    <p>As cirurgias realizadas com maior frequ&ecirc;ncia s&atilde;o os enxertos nervosos (procedimento cir&uacute;rgico usado para transplantar tecidos) e as transfer&ecirc;ncias de nervos.&nbsp;</p>

                                    <p>Outros tipos de opera&ccedil;&otilde;es s&atilde;o poss&iacute;veis em um est&aacute;gio mais avan&ccedil;ado (meses ou anos ap&oacute;s a les&atilde;o), mas em geral elas n&atilde;o s&atilde;o voltadas primariamente para a recupera&ccedil;&atilde;o do nervo, mas sim para auxiliar o uso da fun&ccedil;&atilde;o motora remanescente (transfer&ecirc;ncias musculares e tend&iacute;neas, artrodeses, e outras)</p>

                                    <p>Veja como funciona cada um dos tipos de cirurgia:&nbsp;</p>

                                    <p><b>Enxerto nervoso</b>&nbsp;&ndash; Quando o nervo &eacute; rompido, as extremidades dele podem ficar esgar&ccedil;adas e devem ser cortadas para que o nervo possa ser reparado/religado. Para que o reparo seja feito, s&atilde;o utilizados enxertos retirados de outros nervos (de um nervo da perna, por exemplo).</p>

                                    <p>O enxerto vai servir como um guia para o crescimento do nervo danificado, um processo que pode ser bastante lento, o que faz com que o tempo de recupera&ccedil;&atilde;o seja frequentemente longo.&nbsp;</p>

                                    <p><b>Transfer&ecirc;ncia nervosa</b>&nbsp;&ndash; Neste caso, um nervo n&atilde;o lesionado do pr&oacute;prio plexo (quando poss&iacute;vel) ou de uma regi&atilde;o pr&oacute;xima, &eacute; ligado diretamente ao nervo lesionado para restabelecer a fun&ccedil;&atilde;o motora do nervo afetado. E necess&aacute;rio um treinamento fisioter&aacute;pico intenso para reaprender a movimentar o bra&ccedil;o com a nova conex&atilde;o nervosa.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse2">O p&oacute;s-operat&oacute;rio</a></h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse2">
                                <div class="panel-body">
                                    <p>Ap&oacute;s a cirurgia, normalmente o membro superior &eacute; imobilizado um per&iacute;odo de 4 a 6 semanas. A imobiliza&ccedil;&atilde;o &eacute; um cuidado importante porque a cirurgia &eacute; um procedimento delicado, onde os nervos s&atilde;o religados e o local do reparo pode se romper novamente se houver excesso de movimento. O tempo de imobiliza&ccedil;&atilde;o &eacute; necess&aacute;rio para que o reparo do nervo se efetue.</p>

                                    <p>O tempo exato ser&aacute; determinado pela equipe cl&iacute;nica.&nbsp; Siga sempre as recomenda&ccedil;&otilde;es da equipe clinica e N&Atilde;O retire a imobiliza&ccedil;&atilde;o sem a orienta&ccedil;&atilde;o m&eacute;dica.</p>

                                    <p>O uso de tipoias e outros dispositivos do g&ecirc;nero, d&aacute; suporte ao&nbsp; bra&ccedil;o lesionado e serve para garantir a imobiliza&ccedil;&atilde;o quando necess&aacute;rio.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse3">Orienta&ccedil;&otilde;es gerais sobre o uso de tipoias e outros dispositivos de suporte</a></h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse3">
                                <div class="panel-body">
                                    <p>As tip&oacute;ias e os dispositivos de suporte ajudam a manter a posi&ccedil;&atilde;o correta do bra&ccedil;o e do ombro e a evitar movimentos indesejados. No geral, o tempo pelo qual seu bra&ccedil;o precisar&aacute; ser imobilizado vai depender da gravidade da les&atilde;o e da recupera&ccedil;&atilde;o de outras les&otilde;es que possam estar associadas, como um deslocamento do ombro e fraturas em ossos do bra&ccedil;o.</p>

                                    <p>Muitos pacientes se sentem mais confort&aacute;veis e seguros utilizando tipoias, mas lembre-se que &eacute; importante evitar o desuso e atrofia dos m&uacute;sculos e a rigidez das articula&ccedil;&otilde;es. Pergunte ao seu m&eacute;dico quais&nbsp; os movimentos que voc&ecirc; pode realizar durante a imobiliza&ccedil;&atilde;o e inclua esses movimentos na sua rotina.</p>

                                    <p>Algumas recomenda&ccedil;&otilde;es sobre o uso de tipoias:</p>

                                    <ul>
                                        <li>Ap&oacute;s a cirurgia: N&atilde;o remova a imobiliza&ccedil;&atilde;o at&eacute; que seja orientado pelo m&eacute;dico.</li>
                                        <li>Observe sempre a cor e a sensa&ccedil;&otilde;es da sua m&atilde;o e dedos. Se voc&ecirc; notar uma colora&ccedil;&atilde;o azulada, formigamento, sensa&ccedil;&atilde;o de agulhadas ou incha&ccedil;o, entre em contato um m&eacute;dico imediatamente.</li>
                                        <li>Se poss&iacute;vel, movimente sua m&atilde;o, dedos e punho com regularidade.Tome os medicamentos para dor conforme orienta&ccedil;&atilde;o m&eacute;dica.</li>
                                        <li>Durma com a barriga pra cima. Use travesseiros extras para apoio do membro superior.</li>
                                        <li>N&atilde;o utilize acess&oacute;rios como pulseiras, braceletes e an&eacute;is no seu bra&ccedil;o lesionado.</li>
                                        <li>N&atilde;o utilize esmalte nas unhas do lado da les&atilde;o, pois pode atrapalhar a observar a colora&ccedil;&atilde;o da m&atilde;o.</li>
                                    </ul>

                                    <p>ATEN&Ccedil;&Atilde;O: Siga sempre as recomenda&ccedil;&otilde;es m&eacute;dicas.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse4">Dor e outros sintomas</a></h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse4">
                                <div class="panel-body">
                                    <p>A dor &eacute; uma experi&ecirc;ncia f&iacute;sica e tamb&eacute;m emocional. Ela funciona como um sinal de alerta que nos avisa que algo est&aacute; errado. A dor aguda &eacute; um evento repentino e r&aacute;pido, com dura&ccedil;&atilde;o de algumas horas at&eacute; algumas semanas. J&aacute; a dor cr&ocirc;nica &eacute; persistente e tem maior dura&ccedil;&atilde;o (maior que 6 meses ou maior que o tempo esperado para a cura de uma les&atilde;o). A maioria dos indiv&iacute;duos com les&atilde;o traum&aacute;tica do plexo braquial sente dor, e esta pode se tornar cr&ocirc;nica.</p>

                                    <p>A dor pode ser separada em dois tipos: a dor nociceptiva e a dor neurop&aacute;tica.</p>

                                    <p>A dor nociceptiva &eacute; causada pela presen&ccedil;a de um est&iacute;mulo doloroso (por exemplo, um ferimento ou uma queimadura superficial, fraturas, contratura muscular). Esse tipo de dor tem a fun&ccedil;&atilde;o de alertar sobre um perigo iminente ou sobre o aparecimento de les&otilde;es ou danos no corpo e normalmente ela melhora com a recupera&ccedil;&atilde;o da les&atilde;o e/ou ferimento.</p>

                                    <p>J&aacute; a dor neurop&aacute;tica tem origem na les&atilde;o das fibras nervosas. As caracter&iacute;sticas da dor neurop&aacute;tica s&atilde;o muito peculiares, como sensa&ccedil;&otilde;es de queima&ccedil;&atilde;o, de frio doloroso e choque el&eacute;trico, e pode ser acompanhada por formigamento, agulhada, adormecimento e coceira.</p>

                                    <p>O tratamento da dor neurop&aacute;tica&nbsp; pode envolver medicamentos analg&eacute;sicos mais potentes e tamb&eacute;m medicamentos utilizados para outras patologias, como depress&atilde;o e epilepsia.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse5">Fisioterapia </a></h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse5">
                                <div class="panel-body">
                                    <p>A fisioterapia ap&oacute;s uma les&atilde;o traum&aacute;tica do plexo braquial tem como objetivos recuperar as fun&ccedil;&otilde;es sensoriais e motoras do indiv&iacute;duo e evitar ou minimizar as deformidades articulares e altera&ccedil;&otilde;es musculares, como encurtamentos e atrofia, visando maior independ&ecirc;ncia e melhor qualidade de vida.&nbsp;</p>

                                    <p>O tratamento fisioterap&ecirc;utico&nbsp; deve ser iniciado precocemente. Nos casos cir&uacute;rgicos, &eacute; importante a abordagem ainda no per&iacute;odo pr&eacute;-operat&oacute;rio. A fisioterapia visa a recupera&ccedil;&atilde;o da for&ccedil;a muscular, restaura&ccedil;&atilde;o ou manuten&ccedil;&atilde;o da mobilidade das articula&ccedil;&otilde;es e da flexibilidade dos m&uacute;sculos, preven&ccedil;&atilde;o de deformidades e altera&ccedil;&otilde;es posturais, melhora da dor e treino das atividades do dia a dia que estiverem comprometidas.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" href="#collapse6">Acompanhamento psicol&oacute;gico</a></h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse6">
                                <div class="panel-body">
                                    <p>A les&atilde;o do plexo braquial &eacute; uma experi&ecirc;ncia que pode vir a trazer muitas mudan&ccedil;as para a vida. Podem ocorrer altera&ccedil;&otilde;es na condi&ccedil;&atilde;o geral de sa&uacute;de, como o aparecimento de ins&ocirc;nia, fadiga, perda de apetite, ganho ou perda de peso, e tamb&eacute;m mudan&ccedil;as nas atividades di&aacute;rias (andar, se alimentar, se vestir, usar o banheiro, cuidar da casa).</p>

                                    <p>A esses fatores somam-se ainda as quest&otilde;es psicossociais como a diminui&ccedil;&atilde;o da autoestima, ansiedade sobre o tratamento, altera&ccedil;&otilde;es no&nbsp; corpo, perda de controle e independ&ecirc;ncia sobre as atividades do dia a dia, problemas de concentra&ccedil;&atilde;o e de mem&oacute;ria, problemas com a libido, frustra&ccedil;&atilde;o, raiva, culpa.</p>

                                    <p>&Eacute; importante procurar ajuda para lidar com essas e outras quest&otilde;es.</p>

                                    <p>A psicoterapia &eacute; um trabalho conjunto no qual se &eacute; ajudado a explorar e administrar a vida pessoal, de maneira privada e confidencial. O acompanhamento psicol&oacute;gico pode ajudar a lidar com as rea&ccedil;&otilde;es ao diagn&oacute;stico, e tamb&eacute;m com quest&otilde;es familiares e pessoais.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock content %}