{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/menulateralblog.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Lesão do Plexo Braquial -->
    <div class="row">
        <div class="container">
            <h1 class="h1_aPadrao">{% trans "Brachial Plexus Injury" %}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">{% trans "Treatment" %}</li>
            </ol>
        </div>
    </div>

	<div class="row">
		<div class="container">
            <!--Navegacao lateral-->
			<div id="lateralt" class="col-md-3 col-sm-4 col-xs-12">
				<h2>Sobre</h2>
                <ul>
                    <li {% if current_page.template == "plexo_braquial.html" %}class="active"{% endif %}>
                        <a href="/lesao-do-plexo-braquial">{% trans "What is the Brachial Plexus" %}</a>
                    </li>
                    <li {% if current_page.template == "plexo_braquial_tratamento.html" %}class="active"{% endif %}>
                        <a href="/lesao-do-plexo-braquial-tratamento">{% trans "Treatment" %}</a>
                    </li>
                </ul>
			</div>
			<!--Conteúdo-->
            <div class="pull-right col-md-9 col-sm-8 col-xs-12 aConteudopost">
                {% placeholder "Conteudo" %}
            </div>
		</div>
	</div>
{% endblock content %}