{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}
    <!-- Recursos educacionais -->
    <div class="row">
        <div class="container  aPesquisa">
            <h1 class="h1_aPesquisa">Recursos Educacionais</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Recursos Educacionais</li>
            </ol>
            {% placeholder "Conteudo" %}
        </div>
    </div>
    <br>
    <div class="row aPesq">
        <div class="container">
            <a href="/content/category/abraco-academico/">
                <div class="col-md-3">
                    <div class="aOpcoesPesq">
                        <img src="/static/img/report.svg" alt="">
                        <h3>Abraço acadêmico</h3>
                        <p>Lista de contribuições acadêmicas da equipe da ABRAÇO</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3">
                    <div class="aOpcoesPesq">
                        <img src="/static/img/analytics.svg" alt="">
                        <h3>Cartilhas</h3>
                        <p>Bla bla bla</p>
                    </div>
                </div>

            </a>
            <a href="#">
                <div class="col-md-3">
                    <div class="aOpcoesPesq">
                        <img src="/static/img/networking.svg" alt="">
                        <h3>Eventos</h3>
                        <p>Bla bla bla</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3">
                    <div class="aOpcoesPesq">
                        <img src="/static/img/networking.svg" alt="">
                        <h3>Vídeos</h3>
                        <p>Bla bla bla</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock content %}


