{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles %}

{% block content %}
    <!-- Recursos educacionais -->
    <div class="row">
        <div class="container  aRecEducacionais">
            <h1 class="h1_aRecursosEducacionais">{% trans "Educational resources" %}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">{% trans "Educational resources" %}</li>
            </ol>
            {% placeholder "Conteudo" %}
        </div>
    </div>
    <div class="row aRec">
        <div class="container">
            <a href="/content/category/abraco-academico/">
                <div class="col-md-3">
                    <div  class="aOpcoesRec">
                        <img src="/static/img/search.svg" alt="">
                        <h3>Abraço acadêmico</h3>
                        <p>Lista de contribuições acadêmicas da equipe da ABRAÇO</p>
                    </div>
                </div>
            </a>
            <!-- Incluir tag a quando houver conteúdo -->
                <div class="col-md-3">
                    <div class="aOpcoesRec">
                        <img src="/static/img/notebook.svg" alt="">
                        <h3>Cartilhas</h3>
                        <p>Folhetos informativos sobre a lesão do plexo braquial</p>
                        <span>{% trans "Available soon" %}</span>
                    </div>
                </div>
            <!-- fechar tag a -->
            <!-- Incluir tag a quando houver conteúdo -->
                <div class="col-md-3">
                    <div class="aOpcoesRec">
                        <img src="/static/img/viral-marketing.svg" alt="">
                        <h3>{% trans "Events" %}</h3>
                        <p>Palestras educativas oferecidas pela equipe da ABRAÇO</p>
                        <span>{% trans "Available soon" %}</span>
                    </div>
                </div>
            <!-- Incluir tag a quando houver conteúdo -->
                <div class="col-md-3">
                    <div class="aOpcoesRec">
                        <img src="/static/img/video-player.svg" alt="">
                        <h3>{% trans "Videos" %}</h3>
                        <p>Filmes sobre a lesão do plexo braquial e a ABRAÇO</p>
                        <span>{% trans "Available soon" %}</span>
                    </div>
                </div>
            <!-- fechar tag a -->
        </div>
    </div>
{% endblock content %}


