{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ABRAÇO | NEUROMAT</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!--MEU CSS-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--FONTES-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
        <!-- Jquery -->
        <link type="text/css" rel="stylesheet" href="{% static 'js/jquery/jquery-ui.css' %}">
        <script src="{% static 'js/jquery/external/jquery/jquery.js' %}"></script>
        <script src="{% static 'js/jquery/jquery-ui.js' %}"></script>

        {% block extrahead %}{% endblock %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        {% include "cabecalho.html" %}

        {% block content %}{% endblock content %}

        {% include "footer.html" %}

        {% render_block "js" %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
        <!--Slider com 3 colunas-->
        <script src="{% static 'js/slider.js'%}"></script>
    </body>
</html>
