{% load  menu_tags staticfiles %}

<!--Barra superior-->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img class="aLogo" alt="Brand" src="{% static 'img/logo.png' %}">
            </a>
            <button class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#itensmenu"></button>
            <ul id="itensmenu" class="nav navbar-nav collapse navbar-collapse">
                {% show_menu 0 100 100 100 'menu.html' %}
            </ul>
        </div>
    </div>
</nav>
