{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>ABRAÇO | NEUROMAT</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--MEU CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!--FONTES-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
</head>

<body>
    <div class="footer">
        <div class="row">
            <div class="container aRodape text-center">
                <div class="col-md-4">
                   <a href="#"><img src="{% static 'img/Neuromat.png' %}" alt=""></a>
                    <p>Iniciativa</p>
                </div>
                <div class="col-md-4">
                   <a href="#"><img src="{% static 'img/Fapesp.png' %}" alt=""></a>
                    <p>Apoio</p>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="{% static 'img/InstiDeolCouto.png' %}" alt=""> </a>
                    <p>Parceiro</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container aRodape">
                <hr>
                <div class="col-md-3">
                    <h3> Abraço</h3>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Lesão do Plexo Braquial</a></li>
                        <li><a href="#">Pesquisa</a></li>
                        <li><a href="#">Recursos Educacionais</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3> Siga</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3> Entre em contato</h3>
                    <ul>
                        <li><a href="#">Formulário: Faça Parte</a></li>
                        <li><a href="#">e-mail@email.com.br</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container aRodape aLicensa">
                <div class="col-md-12">
                    <p>Licenciado sob os termos [Link da licença]</p>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>
