{% extends "test_base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}

<!--Introdução-->
<div class="container aIntroduction ">

    <!-- Bootstrap -->
    <div class="row">
        <div class="col-md-12">
            {% placeholder "introducao" %}
        </div>
    </div>

    <!-- Carousel -->
    <div class="row aSection text-center">
        <div>
            <div class="col-md-4">
                <a href="#">
                    <div id="aBotaoLesao">
                        <h2>Lesão do Plexo Braquial</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div id="aBotaoPesquisa">
                        <h2>Pesquisa</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div id="aBotaoRecEduc">
                        <h2>Recursos Educacionais</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--Ilustração do braço-->
<div class="row">
    <div class="container aIlustracaoMob">
        <div class="col-md-12 aIlustracao">
            {% placeholder "imagem" %}
        </div>
    </div>
</div>

<!--Novidades-->
<div class="row">
    <div class="container aNovidades text-center">
        <h2>Novidades</h2>
        <div class="col-md-4">
            <a href="#">
                <div class="aNovidade aNovidadeTexto">
                    <h3>Título da novidade</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis obcaecati necessitatibus, a voluptatem
                        voluptates dolorem aspernatur facilis dolorum optio architecto enim, doloremque. Voluptates ea,
                        tempora recusandae ipsa voluptas aspernatur nam.</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <div class="aNovidade aNovidadeTexto">
                    <h3>Título da novidade</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis obcaecati necessitatibus, a voluptatem
                        voluptates dolorem aspernatur facilis dolorum optio architecto enim, doloremque. Voluptates ea,
                        tempora recusandae ipsa voluptas aspernatur nam.</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <div class="aNovidade aNovidadeTexto">
                    <div>
                        <h3>Título da novidade</h3>
                    </div>
                    <div>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis obcaecati necessitatibus, a voluptatem
                            voluptates dolorem aspernatur facilis dolorum optio architecto enim, doloremque. Voluptates
                            ea, tempora recusandae ipsa voluptas aspernatur nam.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}
