{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ABRAÇO | NEUROMAT</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!--MEU CSS-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--FONTES-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">

        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        {% include "test_cabecalho.html" %}

        {% block content %}{% endblock content %}

        {% include "footer.html" %}

        {% render_block "js" %}
    </body>
</html>
